.container {
    border: 13px solid black;
    text-align:center;
}

h1, h2 {
    text-align: center;
}

textarea {
    width: 250px;
    height: 250px;
}

.copy {
    background-color:gray;
    border-radius: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.generate {
    background-color:red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}